*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Comic Sans MS;
  background: url('../pattern.png') repeat;
}

a { color: red; text-decoration: none; }strong { font-weight: bold;}

    .testjen {
  border: 1px;
}

.this .selector .is .nested .too .deep {
  background: red;
}

#test-id {
  width: 100px;
  height: 100px;
  background: url(file-not-found.png);
  float: left;
  margin-left: 10px;
  padding: 5px;
}

.absolute-positioned {
  width: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2em;
  &:hover {
    background: blue;
  }
}

@media (max-width: 600px) {
  .some-element {
    position: absolute;
    font-size: 10px;
    top: 100px;
    left: 0px;
  }
}
